<h3>Agregar</h3>
<hr>
<form (ngSubmit)="addWarrior()">
  <div class="mb-3">
    <label for="name" class="form-label">Nombre del guerrero</label>
    <input placeholder="Nombre" name="name" type="text" class="form-control" [(ngModel)]="warrior.name">
  </div>
  <div class="mb-3">
    <label for="power" class="form-label">Nivel de poder</label>
    <input placeholder="Poder" name="power" type="number" class="form-control" [(ngModel)]="warrior.power">
  </div>
  <button type="submit" class="btn btn-primary btn-block">Agregar</button>
</form>
